---
layout: page
title: Speaker
---

<p>
  {{ site.data.speakers.intro }}
</p>
  <div class="section">
      {% for item in site.data.speakers.science %}
      {% assign col = forloop.index0 | modulo:2 %}
      {% if col == 0 %}
       <div class="row">
        {% endif %}
       <div class="col s12 m6">
       <div class="card">
       <div class="card-image waves-effect eaves-block waves-light">
         <img class="activator" src="{{ site.url}}/{{ item.img }}">
</div>
<div class="card-content">
<span class="card-title activator grey-text text-darken-4">{{ item.title }}<i class="material-icons right">more_vert</i>
<p>
<small>
{{ item.shortdes }}
</small>
  <div class="card-action">
        	  <a href="{{ item.bio }}">Bio</a>
        	  <a href="{{ item.pub }}">Pubblicazioni</a>
</div>
</p>
</span>
</div>
<div class="card-reveal">
<span class="card-title grey-text text-darken-4">{{ item.title }}<i class="material-icons right">close</i></span>
<p>
{{ item.descr }}
</p>
</div>
</div>
</div>
{% if col == 1 %}
</div>
{% endif %}
{% endfor %}
</div>
